body {
  background-color: rgba(113, 180, 141, .10);
  color: rgba(38, 15, 38, 1);
  font-family: 'Nunito', sans-serif;
}
p {
  font-size: medium;
}
.user-input-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  justify-content:space-around;
}

.cost-ytd, .upcoming-trip, .pending-trip, .past-trip{
  border:rgba(38, 15, 38, 1) solid 2px ;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  text-align: center;
}

.logInBox {
  width: 300px;
  height: 200px;
  background-color: gray;
  box-shadow: 5px;
  visibility: visible;
  
}
.login-form {
  display: flex;
  flex-direction: column;
}
#reqEst {
  visibility:hidden;
}


.dashboard {
  visibility: hidden;
}
.req {
  color: red;
}

*:required {
  background-color: rgba(113, 180, 141, .50);
}
